body {
    background-color: rgb(27, 12, 39);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    color: orange;
    font-family: sans-serif;
    min-height: 100vh;
}

.sketch-container {
    width: 30rem;
    aspect-ratio: 1;
    border: 2px solid white;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5, 1fr);
    overflow: hidden;

}


.form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: fit-content;
    margin: auto;
}

.input {
    padding: 1rem;
    width: 200px;
}

.button {
    padding: 0.5rem;
}



